.settings-panel {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 3rem;
  border-radius: 1.5rem;
  border: 1px solid white;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.08),
    0 4px 6px -2px rgba(0, 0, 0, 0.04); /* shadow-lg */
}

.settings-panel h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  color: var(--text-main);
}

.disabled {
  background-color: var(--bg-input);
  cursor: not-allowed;
  opacity: 0.7;
}

.btn-primary {
  width: 100%;
  margin-top: 1rem;
}
